[submodule "dependencies/freestnd-c-hdrs/freestnd-c-hdrs"]
	path = dependencies/freestnd-c-hdrs/freestnd-c-hdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs
[submodule "dependencies/nanoprintf/nanoprintf"]
	path = dependencies/nanoprintf/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf
[submodule "dependencies/cc-runtime/cc-runtime"]
	path = dependencies/cc-runtime/cc-runtime
	url = https://codeberg.org/osdev/cc-runtime
[submodule "dependencies/limine/limine"]
	path = dependencies/limine/limine
	url = https://github.com/limine-bootloader/limine
	branch = v9.3.2-binary
[submodule "dependencies/uacpi/uacpi"]
	path = dependencies/uacpi/uacpi
	url = https://github.com/uACPI/uACPI
[submodule "dependencies/flanterm/flanterm"]
	path = dependencies/flanterm/flanterm
	url = https://codeberg.org/mintsuki/flanterm
[submodule "dependencies/pairing-heap/pairing-heap"]
	path = dependencies/pairing-heap/pairing-heap
	url = https://github.com/lretq/pairing-heap
[submodule "dependencies/freestnd-cxx-hdrs/freestnd-cxx-hdrs"]
	path = dependencies/freestnd-cxx-hdrs/freestnd-cxx-hdrs
	url = https://codeberg.org/osdev/freestnd-cxx-hdrs
